
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #160f19;
}

h1 {
  color: red;
}

header{
  background: #160f19;
}

header > h1{
  margin-top: 50px;
  margin-bottom: 30px;
  color: #3d1cd6;
  text-align: center;
  font-size: 70px;
  font-family: 'Staatliches', cursive;
}

.score-board {
  margin: 20px auto;
  border: 3px solid #0F55aa;
  border-radius: 4px;
  border-width:10px;
  text-align: center;
  width: 200px;
  color: red;
  font-size: 40px;
  padding: 15px 20px;
  position: relative;
}

.badge{
  background: #0F55aa;
  color: white;
  font-size: 14px;
  padding : 2px 10px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

#user-label {
  position: absolute;
  top: 27px;
  left: -33px;
}

#computer-label {
  position: absolute;
  top: 27px;
  right: -35px;
}

.result {
  margin-top: 30px;
  font-size: 35px;
}

.result > p {
  text-align: center;
  color: #ffbc11; 
  font-weight : bold;
}

.choices {
 margin-top: 50px;
 text-align: center; 
}

.choice {
  border: 4px solid white;
  border-radius: 20%;
  margin: 0 15px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
  background-color: #5b1fa1;
}

.choice:hover{
  cursor: pointer;
  background: #160f19;
}

#message{
  text-align: center;
  color: red;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 25px;
}

.green-glow{
  border: 4px solid #4dcc7d;
  box-shadow : 0 0 10px #31b43a;
}

.red-glow{
  border: 4px solid #fc121b;
  box-shadow : 0 0 10px #d01115;
}

.grey-glow{
  border: 4px solid #464647;
  box-shadow : 0 0 10px #25292b;
}
